.logo {
    position: absolute;
    top: 0px;
}

.logo-text:hover {
    text-decoration: none;
    color: white;
}

.logo-text {
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 800;
    position: relative;
    text-decoration: none;
    font-size: 34px;
    top: 0;
}

.contact-me {
    font-family: 'Lato', sans-serif;
    position: relative;
    text-decoration: none;
    color: lightgrey;
    font-weight: 500;
    font-size: 20px;
}

.contact-me:hover {
    color: grey;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.contact-me2 {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-size: 18px;
    border: solid 2px lightgrey;
    padding: 5px;
    padding-top: 2px;
    opacity: 0.95;
}

.contact-me2:hover {
    color: grey;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

ul {
    padding: 0;
    margin: 0;
}

.showcase {
    font-family: ' tali 'sans-serif;
    position: absolute;
    margin-left: 2%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: lighter;
    top: 290px;
    color: white;
}

.showcase-text {
    width: 90vw;
    font-size: 55px;
    opacity: 0.95;
    font-weight: 400;
}

.header {
    position: relative;
    overflow: hidden;
}

.nav {
    position: absolute;
    top: 0;
    right: 5vw;
    display: flex;
}

.img {
    max-width: 100vw;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    height: 100vh;
}

.overlay {
    opacity: 0.7;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

@media only screen and (min-width:1px) and (max-width:700px) {
    .img {
        max-width: 100vw;
        height: 100vh;
    }

    .logo {
        top: 4.9vh;
        left: 20px;
    }

    .logo-text {
        font-size: 40px;
    }

    .contact-me {
        color: grey;
    }

    .showcase-text {
        line-height: 40px;
        font-size: 35px;
    }

    .showcase {
        margin-left: 5vw;
        top: 45vh;
        width: 90vw;
    }

    .showcase-text-sec {
        font-size: 20px;
    }

    .nav {
        overflow: hidden;
        right: 5vw;
        top: 7vh;
    }

    .seo-para {
        width: 80vw;
    }

    .contact-text {
        padding-bottom: 20px;
        padding-top: 10vh;
        width: 90vw;
    }

    .contact-text>h3 {
        font-weight: 600;
        font-size: 45px;
    }

    .contact-text>p {
        margin-bottom: 0;
        font-size: 25px;
        text-decoration: none;
    }

    .contact-form {
        width: 90vw;
        padding-bottom: 40px;
    }

    footer {
        overflow-x: hidden;
        font-size: 12px;
    }

    .social {
        position: relative;
        padding-left: 33vw;
        padding-bottom: 5px;
    }

    .social-items {
        padding-left: 3vw;
    }
}

@media only screen and (min-width:701px) and (max-width:800px) {
    .logo {
        top: 5vh;
        left: 8vw;
    }

    .nav {
        overflow: hidden;
        right: 5vw;
        top: 7vh;
    }

    .logo-text {
        font-size: 45px;
    }

    .contact-me {
        color: grey;
        font-size: 25px;
    }

    .contact-me2 {
        font-size: 30px;
    }

    .showcase-text {
        line-height: 70px;
        font-size: 65px;
    }

    .showcase {
        margin-left: 5vw;
        top: 45vh;
    }

    .seo-para {
        width: 80vw;
    }

    .contact {
        display: flex;
        padding-top: 17vh;
    }

    .contact-text {
        padding-bottom: 170px;
    }

    .contact-form {
        width: 35vw;
        float: right;
    }

    .contact-text {
        color: white;
        padding-left: 4%;
        width: 40%;
    }

    .contact-text>h3 {
        font-weight: 900;
        font-size: 65px;
    }

    .contact-text>p {
        font-size: 25px;
        text-decoration: none;
    }

    .social {
        padding-right: 5vw;
    }

    .social-items {
        float: right;
        padding-right: 3vw;
    }
}

@media only screen and (min-width:701px) and (max-width:1100px) {
    .logo {
        top: 5vh;
        left: 8vw;
    }

    .nav {
        overflow: hidden;
        right: 5vw;
        top: 7vh;
    }

    .logo-text {
        font-size: 45px;
    }

    .contact-me {
        color: grey;
        font-size: 25px;
    }

    .contact-me2 {
        font-size: 30px;
    }

    .showcase-text {
        line-height: 70px;
        font-size: 65px;
    }

    .showcase {
        margin-left: 5vw;
        top: 45vh;
    }

    .contact {
        display: flex;
        padding-top: 17vh;
    }

    .contact-text {
        padding-bottom: 170px;
    }

    .contact-form {
        width: 35vw;
        float: right;
    }

    .contact-text {
        color: white;
        padding-left: 4%;
        width: 40%;
    }

    .contact-text>h3 {
        font-weight: 900;
        font-size: 65px;
    }

    .contact-text>p {
        font-size: 25px;
        text-decoration: none;
    }

    .social {
        padding-right: 5vw;
    }

    .social-items {
        float: right;
        padding-right: 3vw;
    }

    .seo-para {
        width: 60vw;
    }
}

@media only screen and (min-width:1101px) {
    .logo {
        top: 5vh;
        left: 6vw;
    }

    .nav {
        overflow: hidden;
        right: 5vw;
        top: 7vh;
    }

    .logo-text {
        font-size: 35px;
    }

    .contact-me {
        color: grey;
    }

    .showcase-text {
        line-height: 70px;
        font-size: 50px;
    }

    .showcase {
        margin-left: 5vw;
        top: 45vh;
    }

    .contact {
        display: flex;
        padding-top: 17vh;
    }

    .contact-text {
        padding-bottom: 170px;
    }

    .contact-form {
        width: 35vw;
        float: right;
    }

    .contact-text {
        color: white;
        padding-left: 4%;
        width: 40%;
    }

    .contact-text>h3 {
        font-weight: 900;
        font-size: 65px;
    }

    .contact-text>p {
        font-size: 25px;
        text-decoration: none;
    }

    .social {
        padding-right: 5vw;
    }

    .social-items {
        float: right;
        padding-right: 3vw;
    }

    .seo-para {
        width: 50vw;
    }
}

.services {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 45px;
    color: #232526;
}

.services-box {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 80px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.11);
    border: white solid 1px;
    border-radius: 10px;
    color: black;
}

.services-box:hover {
    transform: translateY(-3px);
    transition: all 0.25s ease-in-out;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: black;
}

.services-box-link {
    color: black;
}

.services-box-link:hover {
    color: black;
    text-decoration: none;
}

.services-list {
    font-weight: bold;
}

body {
    overflow-x: hidden;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ADA996, #DBDBDB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ADA996, #DBDBDB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.seo {
    position: relative;
    background-color: black;
    color: white;
    margin-bottom: -16px;
}

.seo-content {
    position: absolute;
    top: 40vh;
    transform: translate(-50%, -30%);
    margin-left: 50%;
}

.seo-title {
    position: relative;
    text-align: center;
    display: block;
    color: white;
    font-size: 43px;
}

.seo-para {
    position: relative;
    text-align: center;
    display: block;
    padding-top: 30px;
    font-size: 20px;
}

.contact {
    overflow: hidden;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #232526, #232526, #232526, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #232526, #232526, #232526, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-text {
    color: white;
    padding-left: 4%;
}

.contact-text>h3 {
    font-family: 'Lato', sans-serif;
}

.contact-text>p {
    margin-bottom: 0;
    text-decoration: none;
}

.contact-form {
    padding-right: 0;
    color: white;
    font-size: bold;
}

footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    padding-left: 10px;
}

.social {
    display: block;
    font-size: 20px;
}

.social-items {
    color: grey;
}

.social-items:hover {
    text-decoration: none;
}

.invalid-feedback {
    display: block;
}